body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    background-color: #DED2F4;
    height: 2%;
}
.imagecentré{
    display: flex;
    max-width: 25rem;
    max-height: 15rem;
    min-width: 23rem;
}
.container {
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
    background: #F0F0FF;
}


.retour {  position: absolute;
    top: 10px; /* Adjust as needed */
    left: 4rem; /* Adjust as needed */
    width: 50px; /* Adjust as needed */
    height: 50px;
}

.icone { position: absolute;
    top: 1rem;  /* Adjust the top position as needed */
    right: 6rem;
}

.filtre { position: absolute;
    top: 1rem;  /* Adjust the top position as needed */
    right: 4.5rem;
}
    


.main-image img {
    width: 100%;
    border-radius: 10px;
}

.content {
    background: #F0F0FF;
    padding: 20px 0;
    text-align: center;
}

.content h1 {
    margin: 20px 0 10px;
    font-size: 24px;
}

.author {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.author-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-info {
    text-align: left;
}

.author-info p {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.time {
    font-size: 12px;
    color: gray;
    margin-left: 10px;
}

.description {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
    padding: 0 20px;
}

.highlight {
    background: white;
    padding: 15px;
    border-radius: 1rem;
    margin: 20px 0;
    font-size: 14px;
    color: gray;
    text-align: left;
    border: 2rem;
    border-color: #2E306D;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.footer {
    background-color: #f3f3f3;
    border-radius: 20px 20px 0 0;
    text-align: center;
    position: fixed;
    bottom:0;
    width: 100%;
}

.footer-button {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    margin: 0rem 3rem 0 3rem;
}
.challenge-active{
    background-color: #2E306D;
    color: #ffffff;
}