html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    background: rgb(241,189,240);
    background: linear-gradient(180deg, rgba(241,189,240,1) 0%, rgba(123,162,241,1) 100%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
}


.profile-image {
    max-width: 20vw;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 0.3rem 0;
    border: 1px solid #363175;
    border-radius: 20px 20px 0 0;
    
}

.footer-button {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.main-button {
    display: inline-flex;
    justify-content: center;
    padding: 2rem;
    text-decoration: none;
    background-color: #3e3d92;
    color: white;
    font-size: 1.2rem;
    border-radius: 1.25rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.second-button{
    display: inline-flex;
    justify-content: center;
    padding: 2rem;
    text-decoration: none;
    background-color: #3e3d92;
    color: white;
    font-size: 1.2rem;
    border-radius: 1.25rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.button-container {
    display: flex;
    gap: 10px;
    background: #f1e7ff;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    
}

.custom-button {
    background: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    color: #4b4b4b;
}
