html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    background: rgb(241,189,240);
    background: linear-gradient(180deg, rgba(241,189,240,1) 0%, rgba(123,162,241,1) 100%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}


.profile-image {
    max-width: 20vw;
}

.footer {
    background-color: #f3f3f3;
    border-radius: 20px 20px 0 0;
    text-align: center;
    position: fixed;
    bottom:0;
    width: 100%;
 
}

.footer-button {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    margin: 0rem 3rem 0 3rem;
}

.main-button {
    display: inline-flex;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    text-decoration: none;
    background-color: #3e3d92;
    color: white;
    font-size: 1.2rem;
    border-radius: 1.25rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.second-button{
    padding: 1rem;
    background-color: #ffffff;
    color: black;
    width: 85%;
    height: 5rem;
    border: none;
    border-radius: 1rem;
    
}

.button-container {
    display: flex;
    gap: 0.5rem;
    background: #f1e7ff;
    padding: 0.5rem;
    border-radius: 50rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    
}
.custom-button {
    background: #ffffff;
    border: none;
    border-radius: 50rem;
    padding: 1rem 2rem;
    color: #000000;
}
.custom-button2{
    background: #2E306D;
    border: none;
    border-radius: 50rem;
    padding: 1rem 2rem;
    color: #ffffff;
}



.bandeau-top{
    display: flex;
    margin: 1rem;
    gap: 1rem;
    text-align: center;
    font-size: 0.7rem;
}

.bandeau-top img{
    width: 1.5rem;
    height: 1.5rem;
}

.card {
    background: #ffffff;
    border-radius: 1.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.imagecard-bottom{
    margin-left: 2rem;
}

.action-bottom{
    border: none;
    margin: 0.5rem;

}

.card-top{
    font-size: 0.5rem;
    display: flex;
}
.card-bottom{
    display: flex;

}
.petit-caracter{
    max-width: 3rem;
    max-height: 3rem;
    margin-right: 1rem;
}

