html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    background: rgb(241,189,240);
    background: linear-gradient(180deg, rgba(241,189,240,1) 0%, rgba(123,162,241,1) 100%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.profile-image {
    max-width: 20vw;
}
.coupe-image{
    max-width: 50vw;
}

.footer {
    background-color: #f3f3f3;
    border-radius: 20px 20px 0 0;
    text-align: center;
    position: fixed;
    bottom:0;
    width: 100%;
 
}

.footer-button {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    margin: 0rem 3rem 0 3rem;
}

.main-button {
    display: inline-flex;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    text-decoration: none;
    background-color: #2E306D;
    color: white;
    font-size: 1.2rem;
    border-radius: 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0em -0.9rem #020D41;
    text-decoration: none;
}

.second-button{
    display: flex;
    padding: 1rem;
    background-color: #ffffff;
    color: black;
    width: 23rem;
    height: 5rem;
    border: none;
    border-radius: 1.7rem;
    text-align: left;
    text-decoration: none;
    align-items: center;
}
.intitule{
    max-width: 15rem;
}
.chiffre1{
    font-size: 2.5rem;
    max-width: 3rem;
    margin-left: 3rem;
}
.chiffre2{
    font-size: 2.5rem;
    margin-left: 11rem;
}

.button-container {
    display: flex;
    gap: 0.5rem;
    background: #f1e7ff;
    padding: 0.5rem;
    border-radius: 50rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    
}
.custom-button {
    background: #ffffff;
    border: none;
    border-radius: 50rem;
    padding: 1rem 2rem;
    color: #000000;
}
.custom-button2{
    background: #2E306D;
    border: none;
    border-radius: 50rem;
    padding: 1rem 2rem;
    color: #ffffff;
}

.retour {  position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}

.color-button{
        background: linear-gradient(to right, #9FA5FF, #FEC8D8); /* Gradient background */
        border: none;
        color: white;
        padding: 20px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        border-radius: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        outline: none;
        border: 2px solid white;
    }
.retour-button{
    background: none;
        border: none;
        color: white;
        padding: 20px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        border-radius: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        outline: none;
        border: 2px solid white;
}


.bandeau-top{
    display: flex;
    margin: 1rem;
    gap: 1rem;
    text-align: center;
    font-size: 0.7rem;
}

.bandeau-top img{
    width: 1.5rem;
    height: 1.5rem;
}

.card {
    background: #ffffff;
    border-radius: 1.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.imagecard-bottom{
    margin-left: 2rem;
}

.action-bottom{
    border: none;
    margin: 0.5rem;

}

.card-top{
    font-size: 0.5rem;
    display: flex;
}
.card-bottom{
    display: flex;

}
.petit-caracter{
    max-width: 3rem;
    max-height: 3rem;
    margin-right: 1rem;
}





.fond-bleu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: auto;
    height: 35rem;
    background-color: #2E306D;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}



.progress-circle {
    position: relative;
    width: 155px;
    height: 155px;
}

.progress-circle svg {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.progress-circle circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
}

.progress-circle .bg {
    stroke: #1A1A3D;
}

.progress-circle .progress {
    stroke: #9FA5FF;
    stroke-linecap: round;
    stroke-dasharray: 440;
    stroke-dashoffset: 286;
    transition: stroke-dashoffset 0.5s;
}

.progress-circle .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.percentage{
    color: #ffffff;
}

.gros-text{
    font-size: 1rem;
    color: #ffffff;
}
.petit-text{
    font-size: 0.6rem;
    color: #ffffff;
}